@{
  Layout = "_Layout";
}

@model SweetTreats.Models.Flavor



    <h2>@Html.ActionLink("Flavor:", "Index")<br/>@Model.Description</h2>

    @if(Model.TreatFlavor.Count == 0)
    {
      <h2>no treat to this flavor</h2>
      <br/>
      @if (User.Identity.IsAuthenticated && ViewBag.IsCurrentUser)
      {
        <h3>@Html.ActionLink("add first Treat", "AddTreat", new { id = Model.FlavorId })</h3>
      }
    }
    else
    {
      <h2>Treats in this flavor:</h2>
      @foreach(var join in Model.TreatFlavor)
      {
        <h3>@Html.ActionLink($"{join.Treat.Name}", "Details", "Treats", new { id = join.Treat.TreatId} )</h3>
        @if (User.Identity.IsAuthenticated && ViewBag.IsCurrentUser)
        {
          @using(Html.BeginForm("DeleteTreat", "Flavors"))
          {
            @Html.Hidden("joinId", @join.TreatFlavorId)
            <input type="submit" value="Remove">
          }
        }
      }
      <br/>
      @if (User.Identity.IsAuthenticated && ViewBag.IsCurrentUser)
      {
        <h3>@Html.ActionLink(" addanother Treat", "AddTreat", new { id = Model.FlavorId })</h3>
      }
    }

      <br/>
      @if (User.Identity.IsAuthenticated && ViewBag.IsCurrentUser)
      {
        <h3>@Html.ActionLink("Update Flavor", "Edit", new { id = Model.FlavorId}) | @Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</h3>
      }

      <h3>@Html.ActionLink("Home", "Index", "Home")</h3>
