
@{
  Layout = "_Layout";
}
@using SweetTreats.Models
<h1>Welcome to the to the Sweet Treats store!</h1>

<h2>Please sign in or Create a new Account to customize your own treats!</h2>
<p>@Html.ActionLink("Create a New Sweet Treats account", "Register", "Account")
<p>@Html.ActionLink("Login to Sweet Treats account", "Login", "Account")

  @using(Html.BeginForm("LogOut", "Account")) 
    {
      <input type="submit" value="Log out">
    }

   @if (ViewBag.Treats.Count == 0)
    {
      <h4>None listed.</h4>
      <br/>
       @if(User.Identity.IsAuthenticated)
       {
        <h4>@Html.ActionLink("add Treat", "Create", "Treats")</h4>
         @using(Html.BeginForm("LogOut", "Account"))
  {
    <input type="submit" value="Log out">
  }
       }
    }
    else
    {
      <h3>@Html.ActionLink("Treats:", "Index", "Treats")</h3>
      <br/>
      @foreach(Treat treat in @ViewBag.Treats)
      {
        <h4>@Html.ActionLink($"{treat.Name}", "Details", "Treats", new { id = treat.TreatId})</h4>
      }
      <br/>
      @if(User.Identity.IsAuthenticated)
      {
        <h4>@Html.ActionLink("add Treat", "Create", "Treats")</h4>
      }

    }

    @if (ViewBag.Flavors.Count == 0)
      {
        <h4>You have no flavors to add to your treats!</h4>
        <br/>
        @if(User.Identity.IsAuthenticated)
        {
          <h4>@Html.ActionLink("add your first Flavor", "Create", "Flavors")</h4>
        }
      }
      else
      {
        <h3>@Html.ActionLink("Flavors:", "Index", "Flavors")</h3>
        <br/>
        @foreach(Flavor flavor in @ViewBag.Flavors)
        {
          <h4>@Html.ActionLink($"{flavor.Description}", "Details", "Flavors", new { id = flavor.FlavorId})</h4>
        }
        <br/>
        @if(User.Identity.IsAuthenticated)
        {
          <h4>@Html.ActionLink("Add Flavor", "Create", "Flavors")</h4>
  
        
        }
      }

 



