@{
  Layout = "_Layout";
}

@using SweetTreats.ViewModels

@model RegisterViewModel

<h2>Register a new Sweet Treats user!</h2>
<h3>You will have to login after you create your account. If you are automatically redirected to the home page after registering, you are set to go!</h3>
<hr/>

@if(ViewBag.Error != null)
{
  <h3>@ViewBag.Error, Please try again.</h3>
}


<hr />
@using (Html.BeginForm("Register", "Account",FormMethod.Post))
{
    @Html.LabelFor(user => user.Email)
    @Html.TextBoxFor(user=> user.Email)

    @Html.LabelFor(user=> user.Password)
    @Html.PasswordFor(user=> user.Password)

    @Html.LabelFor(user=> user.ConfirmPassword)
    @Html.PasswordFor(user=> user.ConfirmPassword)

    <input type="submit" value="Register" />
}