@{
  Layout = "_Layout";
}

@model SweetTreats.Models.Treat

  <h2>@Html.ActionLink("Treat:", "Index")<br/>@Model.Name</h2>


  @if(Model.TreatFlavor.Count == 0)
  {
    <h2>No Flavors have been made for this Treat</h2>
    <br/>
    @if (User.Identity.IsAuthenticated && ViewBag.IsCurrentUser)
    {
      <h3>@Html.ActionLink("first Flavor", "AddFlavor", new { id = Model.TreatId })</h3>
    }
  }
  else
  {
    <h2>This treat can be made in these flavors:</h2>
    @foreach(var join in Model.TreatFlavor)
    {
      <h3>@Html.ActionLink($"{join.Flavor.Description}", "Details", "Flavors", new { id = join.Flavor.FlavorId} )</h3>
      @if (User.Identity.IsAuthenticated && ViewBag.IsCurrentUser)
      {
        @using(Html.BeginForm("DeleteFlavor", "Treats"))
        {
          @Html.Hidden("joinId", @join.TreatFlavorId)
          <input type="submit" value="Remove">
        }
      }
    }
    <br/>
    @if (User.Identity.IsAuthenticated && ViewBag.IsCurrentUser)
    {
      <h3>@Html.ActionLink("+ another Flavor", "AddFlavor", new { id = Model.TreatId })</h3>
    }
  }

  <br/>
  @if (User.Identity.IsAuthenticated && ViewBag.IsCurrentUser)
  {
    <h3>@Html.ActionLink("Update Treat", "Edit", new { id = Model.TreatId}) | @Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</h3>
  }